@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300;500;600&display=swap");

.changepass_div {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: auto;
  min-height: 100vh;
  height: auto;
  width: 40rem;
}

.logo {
  width: 100px;
  height: auto;
  display: "block";
  margin: "auto";
  margin-top: "20px";
}

.changepassword_logo {
  margin-top: 60px;
  width: 75px;
  height: auto;
}

.changepass_heading {
  margin-top: 2vh !important;
}

h1 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 20vh;
}

.text {
  margin-top: 2vh;
  font-size: 1.3rem;
  color: #777777;
  font-weight: 300;
  text-align: left;
  width: 80%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content */
  width: 100%;
}

.form_field {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.input_with_icon {
  position: relative;
  display: flex;
  align-items: center;
}

/* Styles for individual labels */
.form_field label {
  align-self: flex-start;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: #111111;
}

/* Styles for individual input fields */
.form_field input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 300;
}

.input_with_icon input {
  width: 100%;
  padding: 15px;
  padding-right: 40px;
  border-radius: 8px;
  border: 1px solid #dcdcdc;
}

.toggle_icon {
  position: absolute;
  right: 15px;
  height: 18px;
  cursor: pointer;
}

.bottomText {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
  color: #333;
}

.form_field input::placeholder {
  color: #bbbbbb;
}

.form_field input.input_warning {
  border-color: red;
}

.form_field .warning_text {
  color: red;
  font-size: 1.1rem;
  align-self: flex-start;
}

.checkbox {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.checkbox_label {
  text-align: center;
  margin-left: 7px;
  color: #111111;
  font-weight: 300;
}

.bottom_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.bottomText {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
  color: #333;
  margin-top: auto;
}

.textButton {
  color: #6631f7;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}

.textButton:hover {
  color: #5829d9;
  text-decoration: none;
}
