.email-logo {
    margin-top: 60px;
    width: 75px;
    height: auto;
}

.main-heading {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5vh !important;
}

.lighttext {
    margin-top: 2vh;
    font-size: 1.4rem;
    color: #777777;
    font-weight: 300;
    text-align: left;
    width: 80%;
}

.plaintext {
    margin-top: 2vh;
    font-size: 1.4rem;
    font-weight: 300;
    text-align: left;
    width: 80%;
}

.bottomText {
    text-align: center;
    margin-top: 20px;
    font-size: 1.4rem;
    color: #333;
    margin-top: auto;
}

.btn-div {
    margin-top: 50px;
    margin-bottom: 20px;
}

.textButton {
    color: #6631F7;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}
